@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color-black: #5c5d5f;
  --main-color-gray: #9b9595;
  --main-color-orange: #ec5242;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(65, 65, 65);
  /* overflow-x: hidden; */
}

.nav1,
.nav2 {
  display: none;
}

@media (width>755px) {

  /* Navigation */
  .menu {
    display: none;
  }

  .header {
    background-color: #fff;
    border-top-right-radius: 30px;
  }

  .logo {
    margin: 5px 0 2px 0;
  }

  .logo:hover {
    transform: scale(1.1);
  }

  .nav1,
  .nav2 {
    display: flex;
  }

  .container {
    width: 90vw;
    padding: 0 10vw;
  }

  .skew-box1,
  .skew-box2 {
    height: 30px;
  }

  .skew-box1 {
    background-color: rgb(65, 65, 65);
    position: relative;
    left: -1%;
    width: 51.5vw;
    z-index: 2;
    transform: skew(30deg);
  }

  .skew-box2 {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    width: 50.5vw;
    z-index: 1;
  }

  .topnav {
    position: absolute;
    width: 90vw;
    height: 30px;
    margin: 0 auto;
    right: 10vw;
    z-index: 3;
  }

  .nav1 ul,
  .nav2 ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav1 ul {
    align-items: center;
    justify-content: flex-end;
  }

  .nav1 ul li,
  .nav2 ul li {
    list-style: none;
    padding: 3px 15px 0 12px;
  }

  .nav1 a,
  .nav2 a {
    text-decoration: none;
    font-weight: 700;
    color: white;
  }

  .nav2 a:hover {
    text-decoration: none;
    font-weight: 700;
    color: var(--main-color-orange);
  }

  .nav2 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;

  }

  .nav2 ul li {
    padding: 0 1vw;
  }

  .nav2 ul li:hover {
    transform: scale(1.2);
  }

  .nav1 ul li:hover {
    transform: scale(1.1);
  }

  .nav1 ul .fb :hover {
    transform: scale(1.1);
    background-color: #1877f2;
  }

  .nav1 ul .twt :hover {
    transform: scale(1.1);
    background-color: #1d9bf0;
  }

  .nav2 a {
    color: rgb(17, 16, 16);
  }

  .Campaign {
    border: 4px solid var(--main-color-orange);
    padding: 7px 3px;
    border-radius: 5px;
  }

  .nav2 .tab-active {
    color: var(--main-color-orange);
  }

  /* Hero Section */
  .hero {
    background-image: url(./assets/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

    position: relative;
    z-index: -2;
  }

  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
  }

  .hero .a2 {
    position: absolute;
    top: 40vw;
    left: 3vw;
  }

  .hero .a3 {
    position: absolute;
    top: 150px;
    right: 50px;
  }

  .hero .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .text-main {
    margin-top: 6vw;
    color: var(--main-color-orange);
  }

  .text-main p {
    font-size: 3vw;
    padding-bottom: 4px;
    font-weight: 400;
  }

  .text-main h1 {
    font-size: 4vw;
    font-weight: 700;
    mix-blend-mode: normal;
  }

  .para {
    border: 1px solid white;
    padding: 1vw;
    width: 45vw;
    margin: 15px 0 35px 0;
    color: var(--main-color-black);
  }

  .para p {
    font-size: 1vw;
  }

  .nextdate {
    margin-bottom: 10vw;
  }

  .nextdate h3 {
    font-size: 2vw;
    padding: 5px 0;
    font-weight: 700;
    color: var(--main-color-black);
  }

  .nextdate h5 {
    font-size: 1.3vw;
    color: var(--main-color-gray);
  }

  /* Main Offered Cources */
  .courses {
    background-image: url(assets/main-offered-cources.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .courses h1 {
    color: white;
    font-size: 2.7vw;
    padding-top: 4vw;
    padding-bottom: 5px;
  }

  .courses .line {
    border-top: 3px solid var(--main-color-orange);
    width: 5vw;
    margin-top: 0.5vw;
    margin-bottom: 3vw;
  }

  .courses .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .courses .cards a {
    text-decoration: none;
  }

  .courses .cards .cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 15vw;
    height: 17vw;
    background-color: rgba(87, 86, 86, 0.4);
  }

  .courses .cards .cc img {
    width: 4vw;
  }

  .courses .cards .cc h2 {
    color: var(--main-color-orange);
    font-size: 2vw;
  }

  .courses .cards .cc p {
    color: rgb(197, 197, 197);
    font-weight: 400;
    text-align: center;
    font-size: 1.1vw;
    padding: 10px 15px;
  }

  .courses .full-list {
    padding: 4vw 0;
    font-size: 1.3vw;
    text-transform: uppercase;
    color: rgb(199, 199, 199);
  }

  /* Course Mentors */

  .mentors {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mentors h1 {
    color: var(--main-color-black);
    font-size: 2.7vw;
    padding-top: 4vw;
    padding-bottom: 5px;
  }

  .mentors .line {
    border-top: 3px solid var(--main-color-orange);
    width: 5vw;
    margin-top: 0.5vw;
    margin-bottom: 3vw;
  }

  .mentor {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .mentor a {
    text-decoration: none;
    padding: 1vw;
    display: flex;
  }

  .mentor a img {
    width: 9vw;
  }

  .mtr-detail h3 {
    color: rgb(70, 69, 69);
    font-size: 2vw;
  }

  .mtr-detail h5 {
    color: var(--main-color-orange);
  }

  .mtr-detail .line {
    border-color: rgb(219, 219, 219);
    width: 3vw;
    margin-bottom: .7vw;
  }

  .mtr-detail p {
    color: var(--main-color-black);
  }

  /* Partners */
  .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4vw;
  }

  .partner h1 {
    color: var(--main-color-gray);
    font-size: 2.7vw;
    padding-top: 4vw;
    padding-bottom: 5px;
  }

  .partner .line {
    border-top: 3px solid var(--main-color-orange);
    width: 5vw;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
  }

  .partner .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .partner .container img {
    margin: 0;
    padding: 0;
    width: 90px;
    
  }

  /* License */
  .license {
    padding: 3vw 0;
    background-color: white;
  }
  .license .container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }


}