@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color-black: #5c5d5f;
  --main-color-gray: #9b9595;
  --main-color-orange: #ec5242;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(65, 65, 65);
}

/* stylelint-disable no-descending-specificity */

.menu img {
  position: fixed;
  width: 30px;
  top: 10px;
  left: 23px;
}

.nav1 {
  display: none;
}

/* NAV MOBILE */
.nav2 {
  position: fixed;
  inset: 0 0 0 0%;
  background-color: rgb(254, 250, 250);
}

.nav2 .logo {
  margin: 25px;
}

.nav2 ul {
  margin: 45px 65px;
}

.nav2 ul li {
  list-style: none;
  padding: 20px;
  border: 3px solid var(--main-color-orange);
  border-radius: 8px;
  margin-bottom: 10px;
}

.nav2 ul li:hover {
  transform: scale(1.1);
}

.nav2 ul li a {
  text-decoration: none;
  font-weight: 700; 
  color: black; 
}

.nav2 ul li a:hover {
  color: var(--main-color-orange);
}
/* NAV MOBILE */

.container {
  width: 90%;
  padding: 0 23px;
}

/* HERO MOBILE SECTION */
.hero {
  background-image: url(./assets/bgm1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}

.hero .a2 {
  position: absolute;
  bottom: 1px;
  left: 5px;
  width: 30px;
}

.hero .a3 {
  position: absolute;
  top: -34px;
  right: -29px;
  width: 200px;
}

.text-main {
  padding-top: 22vw;
  color: var(--main-color-orange);
}

.text-main p {
  font-size: 5vw;
  padding-bottom: 4px;
  font-weight: 400;
}

.text-main h1 {
  font-family: 'cocogoose', sans-serif;
  font-size: 7vw;
  font-weight: 700;
  mix-blend-mode: normal;
  background-image: url("./assets/tback.png");
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.para {
  border: 3px solid white;
  padding: 3vw;
  width: 80vw;
  margin: 14px 0 13px 0;
  color: var(--main-color-black);
}

.para p {
  font-size: 3vw;
  line-height: 1.6;
}

.nextdate h3 {
  font-size: 5.5vw;
  padding: 5px 0;
  font-weight: 700;
  color: var(--main-color-black);
}

.nextdate h5 {
  font-size: 3.3vw;
  color: var(--main-color-gray);
}

.nextdate {
  padding-bottom: 60px;
}

/* HERO MOBILE SECTION */

/* OFFERED COURCES */
.courses {
  background-image: url(assets/main-offered-cources-m.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.courses h1 {
  color: gainsboro;
  font-size: 5vw;
  padding-top: 6vw;
  padding-bottom: 5px;
}

.courses .line {
  border-top: 1px solid var(--main-color-orange);
  width: 8vw;
  margin-top: 1vw;
  margin-bottom: 6vw;
}

.courses .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.courses .cards a {
  text-decoration: none;
}

.courses .cards .cc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2vw;
  height: 20vw;
  margin: 0 3vw;
  padding-left: 5px;
  background-color: rgba(122, 122, 122, 0.3);
}

.courses .cards .cc img {
  width: 9vw;
  padding: 2px;
}

.courses .cards .cc h2 {
  color: var(--main-color-orange);
  font-size: 4vw;
  margin: 0 5px;
}

.courses .cards .cc p {
  color: rgb(197, 197, 197);
  font-weight: 400;
  text-align: left;
  font-size: 3vw;
  padding: 2px 2px;
  width: 55%;
}

.courses .full-list {
  display: none;
}

.courses .join-list {
  text-decoration: none;
  color: white;
  background-color: var(--main-color-orange);
  height: 16vw;
  margin: 30px;
  padding: 0 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* OFFERED COURCES */

/* FEATURED MENTORS */
.mentors {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mentors h1 {
  color: var(--main-color-black);
  font-size: 5vw;
  padding-top: 6vw;
  padding-bottom: 5px;
}

.mentors .line {
  border-top: 1px solid var(--main-color-orange);
  width: 8vw;
  margin-top: 1vw;
  margin-bottom: 6vw;
}

.mtr-grid .container {
  padding-right: 0;
  padding-bottom: 10vw;
}

.mentor {
  display: grid;
  grid-template-columns: auto;
  gap: 0;
}

.mentor a {
  text-decoration: none;
  padding: 1vw;
  display: flex;
}

.mentor a img {
  width: 25vw;
  height: auto;
}

.mtr-detail h3 {
  color: rgb(70, 69, 69);
  font-size: 4.2vw;
}

.mtr-detail h5 {
  color: var(--main-color-orange);
  font-size: x-small;
  font-style: italic;
}

.mtr-detail .line {
  border-color: rgb(219, 219, 219);
  width: 3vw;
  margin-bottom: 0.7vw;
}

.mtr-detail p {
  color: var(--main-color-black);
  font-size: x-small;
}

/* FEATURED MENTORS */

/* OUR PARTNERS */
.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4vw;
}

.partner h1 {
  color: var(--main-color-gray);
  font-size: 5vw;
  padding-top: 6vw;
  padding-bottom: 5px;
}

.partner .line {
  border-top: 1px solid var(--main-color-orange);
  width: 8vw;
  margin-top: 1vw;
  margin-bottom: 6vw;
}

.partner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partner-all {
  display: none;
}

.partner .container img {
  margin: 0;
  padding: 0;
  width: 90px;
}

/* OUR PARTNERS */

/* LICENSE */
.license {
  padding: 3vw 0;
  background-color: white;
}

.license .container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
}

.license .container img {
  width: 50%;
  padding: 20px;
  align-items: center;
}

.license-info p {
  font-size: x-small;
}

.license .container .korian-lan {
  display: none;
}

@media (width > 755px) {
  .menu {
    display: none;
  }

  .header {
    background-color: #fff;
    border-top-right-radius: 30px;
    width: 100%;
    position: fixed;
  }

  .logo {
    margin: 5px 0 2px 0;
  }

  .logo:hover {
    transform: scale(1.1);
  }

  .nav1,
  .nav2 {
    position: static;
    display: flex;
  }

  .container {
    padding: 0 10vw;
  }

  .skew-box1,
  .skew-box2 {
    height: 30px;
  }

  .skew-box1 {
    background-color: rgb(65, 65, 65);
    position: relative;
    left: -1%;
    width: 51.5vw;
    z-index: 2;
    transform: skew(30deg);
  }

  .skew-box2 {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    width: 50.5vw;
    z-index: 1;
  }

  .topnav {
    position: absolute;
    width: 90vw;
    height: 30px;
    margin: 0 auto;
    right: 10vw;
    z-index: 3;
  }

  .nav1 ul,
  .nav2 ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav1 ul {
    align-items: center;
    justify-content: flex-end;
  }

  .nav1 ul li,
  .nav2 ul li {
    list-style: none;
    padding: 3px 15px 0 12px;
  }

  .nav1 a,
  .nav2 a {
    text-decoration: none;
    font-weight: 700;
    color: white;
  }

  .nav2 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
  }

  .nav2 ul li {
    padding: 0 1vw;
    border: none;
    margin: 0;
  }

  .nav2 ul li:hover {
    transform: scale(1.2);
  }

  .nav1 ul li:hover {
    transform: scale(1.1);
  }

  .nav2 ul li a:hover {
    color: var(--main-color-orange);
    background-color: #fff;
  }

  .nav1 ul .fb :hover {
    transform: scale(1.1);
    background-color: #1877f2;
  }

  .nav1 ul .twt :hover {
    transform: scale(1.1);
    background-color: #1d9bf0;
  }

  .nav2 a {
    color: rgb(17, 16, 16);
  }

  .Campaign {
    border: 4px solid var(--main-color-orange);
    padding: 7px 3px;
    border-radius: 5px;
  }

  .nav2 .tab-active {
    color: var(--main-color-orange);
  }

  /* Hero Section */
  .hero {
    background-image: url(./assets/bg1.jpg);
  }

  .hero .a2 {
    top: 40vw;
    left: 3vw;
  }

  .hero .a3 {
    top: 150px;
    right: 50px;
  }

  .hero .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .text-main {
    padding-top: 0;
    margin-top: 185px;;
  }

  .text-main p {
    font-size: 3vw;
  }

  .text-main h1 {
    font-size: 4vw;
  }

  .para {
    padding: 1vw;
    width: 45vw;
    margin: 15px 0 35px 0;
  }

  .para p {
    font-size: 1vw;
  }

  .nextdate h3 {
    font-size: 2vw;
  }

  .nextdate h5 {
    font-size: 1.3vw;
  }

  .nextdate {
    padding-bottom: 0;
    margin-bottom: 10vw;
  }

  /* Main Offered Cources */
  .courses {
    background-image: url(assets/main-offered-cources.png);
  }

  .courses h1 {
    font-size: 2.7vw;
    padding-top: 4vw;
  }

  .courses .line {
    border-width: 3px;
    width: 5vw;
    margin-top: 0.5vw;
    margin-bottom: 3vw;
  }

  .courses .cards {
    flex-direction: row;
    gap: 4px;
  }

  .courses .cards .cc {
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    width: 16.5vw;
    height: 18.5vw;
    padding: auto;
    margin: 0;
  }

  .courses .cards .cc img {
    width: 4vw;
  }

  .courses .cards .cc h2 {
    font-size: 2vw;
    margin: 0;
  }

  .courses .cards .cc p {
    text-align: center;
    font-size: 1.1vw;
    padding: 10px 15px;
    width: 100%;
  }

  .courses .full-list {
    display: block;
    padding: 4vw 0;
    font-size: 1.3vw;
    text-transform: uppercase;
    color: rgb(199, 199, 199);
  }

  .courses .join-list {
    display: none;
  }

  /* Course Mentors */
  .mentors h1 {
    font-size: 2.7vw;
    padding-top: 4vw;
  }

  .mentors .line {
    border-width: 3px;
    width: 5vw;
    margin-top: 0.5vw;
    margin-bottom: 3vw;
  }

  .mtr-grid .container {
    padding-bottom: 6vw;
  }

  .mentor {
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .mentor a img {
    width: 9vw;
  }

  .mtr-detail h3 {
    font-size: 2vw;
  }

  .mtr-detail h5 {
    font-size: small;
  }

  .mtr-detail .line {
    width: 3vw;
    margin-bottom: 0.7vw;
  }

  .mtr-detail p {
    font-size: small;
  }

  /* Partners */
  .partner {
    padding-bottom: 4vw;
  }

  .partner h1 {
    font-size: 2.7vw;
    padding-top: 4vw;
    padding-bottom: 5px;
  }

  .partner .line {
    border-width: 3px;
    width: 5vw;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
  }

  .partner .container img {
    width: 13vw;
  }

  .partner1,
  .partner2 {
    display: none;
  }

  .partner-all {
    display: block;
  }

  /* License */
  .license {
    padding: 1vw 0;
  }

  .license .container {
    justify-content: flex-start;
  }

  .license .container img {
    width: 30%;
  }

  .license-info p {
    font-size: medium;
  }

  .license .container .korian-lan {
    display: block;
  }
}
